on:
  pull_request:
    types: [opened, reopened, edited, ready_for_review]

jobs:
  check-pr-template:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Check PR description
        env:
          PR_DESCRIPTION: ${{ github.event.pull_request.body }}
        id: check_pr_description
        run: |
            SECTION=$(echo "$PR_DESCRIPTION" | sed -n '/## Checklist/,/## Further information (optional)/p')
            if echo "$SECTION" | grep -q "\[ \]"; then
              echo "Unselected checkboxes found in the 'Checklist' section of the pull request description. Please perform all steps required in the checklist."
              exit 1
            fi